**This notebook contains the code for the final submission file**

In [ ]:
from google.colab import files
files=files.upload()

Saving final_df_reg_users_74.csv to final_df_reg_users_74.csv

In [ ]:
import pandas as pd

In [ ]:
casual_users_df=pd.read_csv('/content/final_ped_casual_users_modified_4.csv')
casual_users_df

                 datetime  casual_users
0     2011-01-20 00:00:00      1.865045
1     2011-01-20 01:00:00      1.897808
2     2011-01-20 02:00:00      2.065430
3     2011-01-20 03:00:00      2.318381
4     2011-01-20 04:00:00      2.320329
...                   ...           ...
6488  2012-12-31 19:00:00      4.276516
6489  2012-12-31 20:00:00      3.429468
6490  2012-12-31 21:00:00      2.660518
6491  2012-12-31 22:00:00      4.650503
6492  2012-12-31 23:00:00      3.851615

[6493 rows x 2 columns]

In [ ]:
reg_users_df=pd.read_csv('/content/final_df_reg_users_74.csv')
reg_users_df

                 datetime   reg_users
0     2011-01-20 00:00:00   10.883783
1     2011-01-20 01:00:00    4.078912
2     2011-01-20 02:00:00    1.983836
3     2011-01-20 03:00:00    1.296235
4     2011-01-20 04:00:00    1.343140
...                   ...         ...
6488  2012-12-31 19:00:00  202.773156
6489  2012-12-31 20:00:00  141.970021
6490  2012-12-31 21:00:00  109.795346
6491  2012-12-31 22:00:00   64.507278
6492  2012-12-31 23:00:00   37.840584

[6493 rows x 2 columns]

In [ ]:
concat_df=reg_users_df.merge(casual_users_df,how='inner',on='datetime')

In [ ]:
concat_df

                 datetime   reg_users  casual_users
0     2011-01-20 00:00:00   10.883783      1.865045
1     2011-01-20 01:00:00    4.078912      1.897808
2     2011-01-20 02:00:00    1.983836      2.065430
3     2011-01-20 03:00:00    1.296235      2.318381
4     2011-01-20 04:00:00    1.343140      2.320329
...                   ...         ...           ...
6488  2012-12-31 19:00:00  202.773156      4.276516
6489  2012-12-31 20:00:00  141.970021      3.429468
6490  2012-12-31 21:00:00  109.795346      2.660518
6491  2012-12-31 22:00:00   64.507278      4.650503
6492  2012-12-31 23:00:00   37.840584      3.851615

[6493 rows x 3 columns]

In [ ]:
concat_df['count']=concat_df['reg_users']+concat_df['casual_users']

In [ ]:
concat_df.drop(['reg_users','casual_users'],axis=1,inplace=True)

In [ ]:
concat_df

                 datetime       count
0     2011-01-20 00:00:00   12.748828
1     2011-01-20 01:00:00    5.976720
2     2011-01-20 02:00:00    4.049267
3     2011-01-20 03:00:00    3.614616
4     2011-01-20 04:00:00    3.663469
...                   ...         ...
6488  2012-12-31 19:00:00  207.049672
6489  2012-12-31 20:00:00  145.399489
6490  2012-12-31 21:00:00  112.455864
6491  2012-12-31 22:00:00   69.157781
6492  2012-12-31 23:00:00   41.692199

[6493 rows x 2 columns]

In [ ]:
concat_df.to_csv('sampleSubmission_78.csv',index=False)